@charset 'utf-8';
@import './modules/icons.scss';
@import './modules/forms.scss';
@import './modules/lists.scss';
@import './modules/buttons.scss';

* {
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
  width: 100%;
  height: auto;
  color: #333;
  background: #f1f1f1;
  font-family: Roboto, Helvetica, sans-serif;
}

.todo-app {
  width: 90%;
  height: auto;
  margin: 30px auto;
  padding: 30px;
  background: #fff;
  box-shadow: 5px 5px 10px #999;
  border-radius: 3px;
  overflow: hidden;
}
.footer {
  margin-top: 50px;
}